<ion-navbar color="primary">

  <button *ngIf="isRoot" ion-button menuToggle>
    <ion-icon name='menu' color="white"></ion-icon>
  </button>

  <ion-avatar *ngIf="img != null" item-left style="float:left">
    <img-loader class="img-header" useImg alt="default_image" src="{{img}}"></img-loader>
  </ion-avatar>

  <ion-title>{{title}}</ion-title>



  <ion-buttons end>
    <button *ngIf="popover != null" ion-button icon-only color="royal" (tap)="optionsPopover($event)">
      <ion-icon name="more"></ion-icon>
    </button>
    <button *ngIf="viewCtrl != null" ion-button icon-only color="royal" (click)="cerrarModal()">
      <ion-icon name="md-close"></ion-icon>
    </button>
  </ion-buttons>

</ion-navbar>